@model IEnumerable<ModelLayer.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
<h4>Please review your order.</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{ decimal total = 0;
    foreach (var item in Model) { total += item.Price * item.Quantity; }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkedout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" class="form-control" />
                <input type="hidden" class="form-control" />
                <input type="hidden" class="form-control" />
            </div>
            <div class="form-group float-right">
                <input type="submit" value="Checkout" class="btn custom_btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
